<!DOCTYPE html>
<html>
<head>
  <title>Rails add ons service</title>
  <%= stylesheet_link_tag    "rails_add_ons_service/application", media: "all" %>
  <%= javascript_include_tag "rails_add_ons_service/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
